/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.big-container {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 70%;
    margin: 0 auto;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.blue-buttons {
    background-color: #0061ff;
    color: white;
}

.white-buttons {
    background-color: white;
    color: black;
}

.paragraphs {
    font-size: 16px;
    letter-spacing: -0.5px;
}

h2 {
    font-size: 39px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 16px;
}

/* HEADER */
header {
    height: 80px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* MENU */
header ul {
    display: flex;
    align-items: center;
}

header a {
    color: inherit;
}

.left-menu li, .right-menu li {
    padding: 0 20px;
}

.left-menu ul li:not(:first-child) {
    font-size: 16px;
}

.right-menu li {
    font-size: 16px;
}

.header-button {
    padding: 8px 18px;
    font-size: 14px;
}

/* MAIN */
main {
    margin-top: 80px;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    height: 690px;
}

.jumbo-content{
    display: flex;
}

h1 {
    font-size: 70px;
    padding: 70px 20px 40px 0;
}

.left-col-jumbo {
    width: 33%;
}

.right-col-jumbo {
    width: 67%;
}

.text-jumbo {
    padding-right: 30px;
}

.text-jumbo a {
    display: inline-block;
    font-size: 16px;
}

.jumbo-button {
    margin-top: 30px;
    margin-bottom: 5px;
}

.text-jumbo span {
    margin-bottom: 25px;
    display: inline-block;
    font-size: 14px;
}

.arrow {
    font-size: 50px;
}

.jumbo-box-img {
    position: relative;
}

.img-jumbo {
    position: absolute;
    left: 25px;
}

/* SECTION 2 */
.section-2 {
    margin-bottom: 170px;
    padding-top: 195px;
}

.input {
    display: inline-block;
    font-size: 16px;
    padding-right: 15px;
    margin: 70px 0 35px 0;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #e0e0e1;
}

.color-circle {
    border: 4px solid #0162ff;
}
/* BUSINESS-PLAN */
.business-plan {
    display: flex;
    justify-content: space-between;
}

.col-plan {
    width: calc(( 100% / 3) - 36px);
    border: 2px solid #d4d4d7;
    padding-bottom: 160px;
}

.type-plan {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 2px solid #d4d4d7;
}

.plan-info {
    margin: 33px 46px 33px 30px;
    letter-spacing: -0.5px;
    font-size: 14px;
}

.plan-info h3{
    margin-bottom: 20px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.mounth {
    color: #87939d;
    margin-bottom: 40px;
}

.fold-user{
    margin-bottom: 20px;
}

.pencil {
    margin-right: 3px;
    margin-bottom: 50px;
}

.plan-buttons {
    padding: 8px 42px;
    display: inline-block;
    margin-bottom: 25px;
}

.line {
    background-color: #e0e0e2;
    border: 1px solid #e0e0e2;
    width: 50px;
    margin: 35px 0;
}

.link-visited {
    color: #2779ff;
    text-decoration: underline;
}

.check {
    color: #116bff;
    margin-right: 5px;
}

.info-flex {
    display: flex;
}

.list-plan ul li {
    margin-bottom: 25px;
}

.list-plan li:first-child {
    margin-top: 25px;
}

/* ENTERPRISE PLAN */
.enterprise {
    border: 2px solid #d4d4d7;
    margin-top: 50px;
}

.enterprise-plan{
    display: flex;
}

.col-enterprise-left {
    width: 65%;
    padding: 30px 0 30px 30px;
}

.ent-space{
    margin-bottom: 20px;
}

.enterprise-text {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.col-enterprise-right {
    padding: 32px 20px;
    width: 35%
}

.col-enterprise-right a {
    display: inline-block;
}

.enterprise-button {
    padding: 8px 70px;
}

/* SECTION 3 */
.section-3 {
    margin-bottom: 105px;
}

.partner-section {
    display: flex;
}

.col-partner-left {
    width: 55%;
}

.col-partner-right {
    width: 45%;
    padding: 42px 0 0 50px;
}

.partner-p {
    margin: 25px 0;
}

.partner-button {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid black;
}

/* SECTION 4 */
.section-4 {
    margin-bottom: 80px;
}

.op-title {
    margin-bottom: 55px;
}

.operation-sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-op {
    width: calc(( 100% / 3 ) - 50px );
    margin-bottom: 105px;
}

.card-content-title {
    margin-bottom: 20px;
}

.card .paragraphs span {
    text-decoration: underline;
} 

/* SECTION 5 */
.more-info-box {
    width: 52%;
}

.more-info-link {
    text-decoration: underline;
    margin: 30px 0 55px 0;
    display: inline-block;
}

/* BOXES */
.team-boxes {
    display: flex;
    height: 441px;
}

.col-box {
    width: 29%;
    position: relative;
}

.small-box{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    position: absolute;
}

.filter {
    filter: invert(1);
}

.left-top {
    left: 0;
    top: 0;
}

.right-top {
    right: 0;
    top: 0;
}

.left-bottom {
    left: 0;
    bottom: 0;
}

.right-bottom {
    right: 0;
    bottom: 0;
}

/* LEFT BOX */
.designit-box {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

.arizona-box {
    background-color: #61082b;
}

.florida-box {
    background-color: #0093ce;
}

.topps-box {
    background-color: #ff1c1c;
}

/* BOX-CENTER */
.col-box-center {
    width: 42%;
    padding: 40px 45px;
    background-color: #f5f5f5;
}

.logo-box-center {
    width: 128px;
}

.text-box-center {
    margin-top: 45px;
    margin-bottom: 50px;
}

/* BOX RIGHT */
.bicycle-box {
    background-color: #d5001f;
}

.hearts-box {
    background-color: #b4d0e7;
}

.lonely-box {
    background-color: #0d2481;
}

.clear-box {
    background-color: #ffd830;
}

/* SECTION 6 */
.section-6 {
    background-color: #b4d0e7;
    margin-bottom: 120px;
}

.free-trial {
    display: flex;
    justify-content: space-between;
    padding: 130px 0 120px 0; 
}

.col-trial-right {
    width: 50%;
}

.col-trial-right h2 {
    color: #61082b;
}

.trial-button {
    padding: 8px 60px;
}

/* SECTION 7 */
.section-7 {
    margin-bottom: 120px;
}

.question-section h3 {
    border-bottom: 1px solid #e0e0e2;
    padding-bottom: 50px;
    font-size: 32px;
}

.questions {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e2;
    padding: 35px 30px 35px 0px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding-bottom: 50px;
}
.footer-section h4{
    font-size: 20px;
    margin-bottom: 25px;
}

.info-section-ft {
    display: flex;
    justify-content: space-between;
    padding: 105px 20px 0;
}

.col-footer a {
    font-size: 14px;
    margin-bottom: 10px;
    color: inherit;
    display: inline-block;
}

.footer-line {
    width: 110px;
    margin: 95px 20px 40px;
    border: 1px solid white;
    background-color: white;
}

.language-section {
    padding: 0 20px 0;
    color: #999999;
    font-size: 13px;
}

.language-section span {
    padding: 0 5px;
}





















