/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.container {
    width: 70%;
    margin: 0 auto;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.blue-buttons {
    background-color: #0061ff;
    color: white;
}

.paragraphs {
    font-size: 16px;
    letter-spacing: -0.5px;
}

h2 {
    font-size: 39px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 16px;
}

/* HEADER */
header {
    height: 80px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* MENU */
header ul {
    display: flex;
    align-items: center;
}

header a {
    color: inherit;
}

.left-menu li, .right-menu li {
    padding: 0 20px;
}

.left-menu ul li:not(:first-child) {
    font-size: 16px;
}

.right-menu li {
    font-size: 16px;
}

.header-button {
    padding: 7px 18px;
    font-size: 14px;
}

/* MAIN */
main {
    margin-top: 80px;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    height: 690px;
}

.jumbo-container {
    width: 80%;
    margin: 0 auto;
}

.jumbo-content{
    display: flex;
}

h1 {
    font-size: 70px;
    padding: 70px 20px 40px 0;
}

.left-col-jumbo {
    width: 33%;
}

.right-col-jumbo {
    width: 67%;
}

.text-jumbo {
    padding-right: 30px;
}

.text-jumbo a {
    display: inline-block;
    font-size: 16px;
}

.jumbo-button {
    margin-top: 30px;
    margin-bottom: 5px;
}

.text-jumbo span {
    margin-bottom: 25px;
    display: inline-block;
    font-size: 14px;
}

.arrow {
    font-size: 50px;
}

.jumbo-box-img {
    position: relative;
}

.img-jumbo {
    position: absolute;
    left: 25px;
}

/* SECTION 2 */
.section-2 {
    height: 1500px;
    padding-top: 245px;
}

.input {
    display: inline-block;
    font-size: 16px;
    padding-right: 15px;
    margin: 70px 0 35px 0;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #e0e0e1;
}

.color-circle {
    border: 4px solid #0162ff;
}
/* BUSINESS-PLAN */
.business-plan {
    display: flex;
    justify-content: space-between;
}

.col-plan {
    width: calc(( 100% / 3) - 36px);
    border: 2px solid #d4d4d7;
    padding-bottom: 185px;
}

.type-plan {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 2px solid #d4d4d7;
}

.plan-info {
    margin: 33px 46px 33px 30px;
    letter-spacing: -0.5px;
    font-size: 14px;
}

.plan-info h3{
    margin-bottom: 20px;
}

.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.mounth {
    color: #87939d;
    margin-bottom: 40px;
}

.pencil {
    margin-right: 3px;
}

.plan-buttons {
    padding: 8px 42px;
    display: inline-block;
    margin-bottom: 25px;
}

.line {
    background-color: #e0e0e2;
    border: 1px solid #e0e0e2;
    width: 50px;
    margin: 35px 0;
}

.link-visited {
    color: #2779ff;
    text-decoration: underline;
}

.check {
    color: #116bff;
    margin-right: 5px;
}

.info-flex {
    display: flex;
}

.list-plan ul li {
    margin-bottom: 25px;
}

.list-plan li:first-child {
    margin-top: 25px;
}

/* ENTERPRISE PLAN */
.enterprise {
    background-color: lightblue;
    height: 300px;
    border: 1px solid red;
    margin-top: 50px;
}

.type-plan  {
    background-color: lightcoral;

}

.enterprise-plan{
    display: flex;
    align-items: center;
    background-color: orange;

}

.col-enterprise-left {
    background-color: pink;
    width: 61%;
}

.enterprise-text {
    font-size: 14px;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.col-enterprise-right {
    background-color: yellow;
    width: 29%;
}

.enterprise-button {
    padding: 8px 70px;
}

.col-enterprise-right a {
    display: inline-block;
}












